<form [formGroup]="habilityForm">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Habilidade</mat-card-title>
    </mat-card-header>
    <input type="hidden" formControlName="id" />
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Nome" formControlName="name" />
            <mat-error
              *ngIf="habilityForm.controls['name'].hasError('required')"
            >
              Um nome é <strong>obrigatório</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Descrição"
              formControlName="description"
            />
            <mat-error
              *ngIf="habilityForm.controls['description'].hasError('required')"
            >
              Uma descrição é <strong>obrigatória</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="onSubmit()">
        Salvar
      </button>
    </mat-card-actions>
  </mat-card>
</form>
