<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef><h2>Id</h2></th>
      <td mat-cell *matCellDef="let row">{{ row.id }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef><h2>Nome</h2></th>
      <td mat-cell *matCellDef="let row">{{ row.name }}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef><h2>Descrição</h2></th>
      <td mat-cell *matCellDef="let row">{{ row.description }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef><h2>Ações</h2></th>
      <td mat-cell *matCellDef="let row">
        <button mat-raised-button color="accent" (click)="edit(row.id)">
          Editar</button
        >&nbsp;
        <button mat-raised-button color="primary" (click)="remove(row.id)">
          Remover
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
